#logo{
    background: #235E3d;

}
body{
    background: url('/img/hojas.jpg');
    background-attachment: fixed;
}
#menu ul li:hover{
    background-color: #235E3d;
}
.button-more{
    background: #235E3d;
  
}